<h1>Editing Time Datum</h1>

<%= render 'form' %>

<%= link_to 'Show', @time_datum, :id => 'enum', url: time_datum_path %> |
<%= link_to 'Back', time_data_path, :id => 'enum', url: time_datum_path %>
